.Container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    height: 100dvh;
    width: 100%;
    background-color: rgb(40, 43, 83);
}

.CharCreator {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 4rem;
    width: 360px;
    height: 360px;
    background-color: brown;
    color: white;
}

.Controls {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 2rem;
    gap: 1rem;
    background-color: rgb(62, 62, 156);
    color: white;
    width: 300px;
    height: 300px;
}

@media (min-width: 768px) {
    .Container {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100dvh;
        width: 100%;
    }

    .CharCreator {
        display: flex;
        width: 540px;
        height: 400px;
        margin-top: 0;
    }

    .Controls {
        display: flex;
        margin-top: 2rem;
        width: 300px;
        height: 300px;
        margin-left: 2rem;
        margin-right: 1rem;
    }
}

@media (min-width: 1280px) {

    .Container {
        flex-direction: row;
    }

    .CharCreator {
        width: 720px;
        height: 600px;
    }
}