.Container {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.HeroSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100dvh;
  background-image: url("/hero_bg.webp");
  background-color: black;
  background-size: cover;
  background-position: center;
}

.HeroSectionContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.HeroSection h1 {
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
  color: white;
  margin-bottom: 1rem;
}

.HeroSection h2 {
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 500;
  text-align: center;
  color: white;
  margin-bottom: 1rem;
}

.HeroSection button {
  background-color:#C45A62;
  color: white;
  border: none;
  padding: 0.75rem 1.5rem;
  border-radius: 0.5rem;
  font-size: 1rem;
  font-weight: 500;
  cursor: pointer;
}

.ButtonLink {
  text-decoration: none;
  color: white;
}

.More {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: 0;
  gap: 0.5rem;
  margin-bottom: 2rem;
  color: white;
}

.ArrowIcon {
  color: white;
  opacity: 0.5;
  width: 3rem;
  height: 3rem;
}

.SeparationLine {
  width: 50%;
  height: 1px;
  opacity: 0.5;
  margin-top: 1rem;
  background-color: white;
}


/* Artist hero section */

.SeparationLine {
  width: 50%;
}

.ArtistsHeroSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  background-color: #457B9D;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.ArtistsHeroSectionTextContent {
  display: flex;
  margin-top: 2rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  text-align: center;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.ArtistsHeroSectionTextContent h2 {
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
  color: white;
  margin-bottom: 1rem;
}



@media (min-width: 1280px) {

  .ArtistsHeroSection {
    flex-direction: column;
    width: 100%;
    height: 100%;
    padding-bottom: 2rem;
  }

  .ArtistsHeroSectionTextContent h1 {
    font-size: 2rem;
    color: white;
  }
  /* .ArtistsHeroSectionTextContent {
    flex-direction: column;
    width: 50%;
  } */

  .ArtistsImages {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
}